In [1]:
import pandas as pd

In [4]:
df = pd.read_csv(r"imdb_movies_2024_list.csv")

In [5]:
df

,Title,Rating,Votes,Duration,Genre
0,1. Gladiator II,6.5,(253K),2h 28m,Action
1,2. Dune: Part Two,8.5,(643K),2h 46m,Action
2,3. Twisters,6.5,(176K),2h 2m,Action
3,4. Kraven the Hunter,5.5,(63K),2h 7m,Action
4,5. The Ministry of Ungentlemanly Warfare,6.8,(139K),2h 2m,Action
...,...,...,...,...,...
245,46. The Instigators,6.2,(39K),1h 41m,Comedy
246,47. Old Guy,5.2,(3.1K),1h 34m,Comedy
247,48. The Killer,5.7,(14K),2h 6m,Comedy
248,49. The Killer's Game,5.8,(18K),1h 44m,Comedy
249,50. Beverly Hills Cop: Axel F,6.4,(83K),1h 58m,Comedy

In [6]:
pip install sqlalchemy pymysql

Requirement already satisfied: sqlalchemy in c:\users\user\anaconda3\imp\lib\site-packages (2.0.30)
Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\user\anaconda3\imp\lib\site-packages (from sqlalchemy) (4.14.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\user\anaconda3\imp\lib\site-packages (from sqlalchemy) (3.0.1)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
   ---------------------------------------- 0.0/45.0 kB ? eta -:--:--
   ---------------------------------------- 0.0/45.0 kB ? eta -:--:--
   ------------------ --------------------- 20.5/45.0 kB 640.0 kB/s eta 0:00:01
   --------------------------- ------------ 30.7/45.0 kB 325.1 kB/s eta 0:00:01
   ---------------------------------------- 45.0/45.0 kB 277.9 kB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1
Note: you may need to restart the kernel to use updated packages.

In [7]:
import pandas as pd
from sqlalchemy import create_engine

In [10]:
engine = create_engine("mysql+pymysql://root:A%4018kings@localhost:3306/guvi")

In [11]:
df.to_sql(name='IMDB_project', con=engine, if_exists='replace', index=False)

C:\Users\USER\AppData\Local\Temp\ipykernel_27008\968494232.py:1: UserWarning: The provided table name 'IMDB_project' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql(name='IMDB_project', con=engine, if_exists='replace', index=False)

250